html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
    width: 700px;
    margin: 0px auto 0px auto;
    font-family: Consolas, Inconsolata, "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Menlo, Monaco, monospace;
    color:#1e1e1e;
    text-align:justify;
    padding:10px 0;
    background-color: white;
}

h1 {
    font-size:400%;
    padding:0;
    text-align:right;
    text-shadow: 1px 1px 0px black, 2px 2px 0px #476871, 3px 3px 0px #476871, 4px 4px 0px #476871, 5px 5px 0px #476871, 6px 6px 0px #476871, 7px 7px 0px #476871;
}

h1 a {
    text-decoration:none;
    /* text-shadow: #555 0 -1px 1px; */
    color:#1e1e1e;
}

h1 a:hover {
    -webkit-transform: rotate(3deg); 
    -moz-transform: rotate(3deg);
}

pre.sourceCode {
    margin:5px;
    padding:3px;
    background-color:#f4f4f4;
}

div {
    padding:10px;
}

/* Stuff for the index */

#articles ul {
    list-style:none;
    font-size:200%;
    text-align:left;
}

#articles li {
    clear:both;
    padding:3px 0;
}

#articles em {
    float:right;
    color:#5b5b5b;
    font-weight:normal;
    padding:0 0 0 10px;
    text-shadow: none;
}

#articles a {
    padding:3px;
    text-decoration:none;
    color:#476871;
    font-weight:bold;
    text-shadow: -1px -1px 0px black;
}

#about a {
    color:#1e1e1e;
}

/* Stuff for the article display */

#article h2 {
    font-size:200%;
    padding:3px 0;
    text-align:left;
    color:#476871;
    text-shadow: -1px -1px 0px black;
}

#article h2 em {
    float:right;
    color:#5b5b5b;
    font-weight:normal;
    padding:0 0 0 10px;
    text-shadow:none;
}

#article p {
    padding:3px 0;
    text-indent:1.5em;
}