*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
posts/scala-syntax.md
*.agdai
_cache/
_site/
dist/
assets/css/cv*
cv*
.stack-work
bits/
node_modules
wip/
yarn-error.log
.vscode
ideas

# Don't store assets
assets/images
assets/other
assets/webpack
