<!doctype html>  

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>mazzo.li - $title</title>
    
    <meta name="description" content="">
    <meta name="author" content="Francesco Mazzoli <f@mazzo.li>">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="$root/css/fonts/fonts.css" />
    <link rel="stylesheet" type="text/css" href="$root/css/syntax.css" />
    <link rel="stylesheet" type="text/css" href="$root/css/default.css" />
    <script type="text/javascript" src="$root/js/libs/mootools-core-1.3-full-nocompat-yc.js"></script>
    <script type="text/javascript" src="$root/js/style.js"></script>
  </head>

  <body>
    <h1><a href="$root">mazzo.li</a></h1>
    $body
    <div id="footer"> <a href="https://github.com/rostayob">github</a>
      &middot; All enquiries
      to <a href="mailto:f@mazzo.li">f@mazzo.li</a>.</div>
  </body>
</html>
